.App {
  font-family: sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  width: 100%;
}
.container-block {
  display: block;
  font-family: sans-serif;
  min-height: 100vh;
  width: 100%;
  background-color: #f8fafc;
}
.container-center{
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.container-center-block {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container-list {
  margin: 36px 15px 20px;
  padding: 12px 12px 11px 10px;
  border-radius: 10px;
  background-color: white;
  display: flex;
}

.dashboard {
  background-image: linear-gradient(153deg, #712bda, #a45deb 100%);
  height: calc(100vh - 52px);
  justify-items: center;
  padding: 26px 30px;
  font-family: 'Roboto';
}

.image-dashboard {
  height: calc(100vh - 147px);
  position: relative;
}
.image-list {
  height: 100px;
  width: 100px;
}

.relative {
  position: relative;
}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center {
  text-align: center;
}

.no-border {
  border: none;
}

.m5 {
  margin: 5px;
}

.f10 {
  font-size: 10px;
  letter-spacing: 0.36px;
}
.f12 {
  font-size: 12px;
  letter-spacing: 0.43px;
}
.f14 {
  font-size: 14px;
  letter-spacing: 0.5px;
}
.f18 {
  font-size: 18px;
  letter-spacing: 0.64px;
}
.f20 {
  font-size: 20px;
  letter-spacing: 0.71px;
  font-weight: bold;
}

.color-grey {
  color: #64748b;
}
.color-gold {
  color: #f5b014;
}
.color-white {
  color: white;
}
.color-burple {
  color: #b178ed;
}

.bg-white {
  background-color: white;
}
.bg-burple {
  background-color: #b178ed;
}

.top-bar {
  background-image: linear-gradient(100deg, #712bda, #a45deb);
  height: 20px;
  width: calc(100% - 30px);
  padding: 18px 15px 22.2px;
  box-shadow: 0 0 6px 0 rgba(148, 77, 230, 0.75);
  border-bottom-left-radius: 100% 25px;
  border-bottom-right-radius: 100% 25px;
}

.between {
  display: flex;
  justify-content: space-between;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay span {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay span:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.input {
  height: 30px;
  width: 120px;
  border-radius: 6px;
}

.mini-button {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: white;
}

.title-search {
  margin: 39px auto;
  text-align: center;
}

.label {
  border-radius: 10px;
  background-color: #10b981;
  padding: 5px 13px 4px;
}

.flex-center {
  display: flex;
  place-items: center;
}

.button {
  width: 280px;
  height: 40px;
  border-radius: 20px;
}
.button-load {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.43px;
  color: #64748b;
  padding: 10px 29px;
  border-radius: 17px;
  background-color: #e2e8f0;
}